---
---

// Colors
$blue: #268BD2;
$dark-gray: #373739;
$red: #d1433c;
$muted: #888;
$white: #fff;

$lightest-gray: #f9f7f7;
$light-gray: #ddd;

// Font
$font-family-headings: "Merriweather", georgia, serif;
$font-family-default: "Fira Sans", sans-serif;
$font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,monospace;

// Font sizing
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-default: 20px;
$font-size-small: 16px;
$line-height-default: $font-size-default * 1.6;

// Spacing
$site-width: 780px;
$body-width: 560px;

$spacing-unit: 16px;

$side-gutter: $spacing-unit;

$spacing-bottom-margin: $spacing-unit * 3;

// Breakpoints
$breakpoint-mobile: 560px;
$breakpoint-medium: 940px;
$breakpoint-small: 650px;

// Borders
$default-border: 1px solid $light-gray;

@import "typography";
@import "layout";
@import "header";
@import "post";
@import "post-excerpt";
@import "footer";
@import "syntax";
