---
---

// Globals
$blue: #268BD2;
$dark-gray: #333332;
$red: #e54b43;
$muted: #888;
$body-width: 620px;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $dark-gray;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 30px;
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font: 24px "Merriweather", sans-serif;
}

h1 {
  font-size: 26px;
  color: $red;
}

h2 {
  font-size: 22px;
  margin: 36px 0;
  font-weight: 700;
}

h3 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 36px;
  border-bottom: 1px solid #eee;
}

p {
  margin: 18px 0;
  > code {
    background-color: #fafafa;
    padding: 3px;
    font-family: "Source Code Pro", monaco, monospace;
    font-size: 80%;
  }
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

ul {
  margin: 18px 0 18px 36px;

  li {
    line-height: 28px;
    margin-bottom: 18px;
  }

}

.posts {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: 0;
  }

  span {
    color: #aaa;
    font-family: "Source Code Pro", Monaco, monospace;
    font-size: 80%;
  }
}

blockquote {
  border-left: 2px solid #eee;
  font-style: italic;
  padding: 0 24px;
}

// Layout
.site {
  margin: 0 auto;
  max-width: $body-width;
  padding: 0 18px;
}

.ribbon {
  color: $muted;
  font-size: 14px;
  margin-bottom: 36px;
  text-align: center;
}

// Home
.main-header {
  align-items: baseline;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  font-family: "Merriweather", sans-serif;
  padding: 24px 24px;
  margin-bottom: 72px;
  border-bottom: 1px solid #eee;

  .content {
    width: $body-width;
    margin: 0 auto;
    padding: 0 18px;
  }

  .subline {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 400;
    color: $muted;
  }

  a {
    color: $dark-gray;
    padding-left: 6px;

    &:hover { color: $red; }
  }
}

.newest-post {
  margin-bottom: 18px;
  padding: 0 0 18px 0;

  h1 {
    font-size: 24px;
    a {
      color: $dark-gray;
      &:hover { color: $red; }
    }
  }
}

// Posts
.post {

  .date {
    color: $muted;
    font-size: 16px;
  }

  header {
    padding: 0 0 12px 0;
    font-weight: 400;
  }

  img {
    width: 940px;
    margin: 24px 0 24px -160px;
  }

  pre {
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    font-size: 70%;
    overflow: auto;
    padding: 5px 10px;
  }
}

.about {
  border-top: 1px solid #eee;
  margin-top: 72px;
  padding: 18px 0 36px 0;
  display: flex;
  align-items: center;

  .profile-picture {
    width: 56px;
    min-width: 56px;
    margin-right: 18px;

    img {
      border: 1px solid #ccc;
      border-radius: 2px;
    }
  }
}
