---
---

// Globals
$blue: #268BD2;
$dark-gray: #474749;
$red: #d1433c;
$muted: #888;
$white: #fff;
$body-width: 560px;

// Site Styles
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $dark-gray;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  line-height: 28px;
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font: 24px "Merriweather", sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin: 36px 0;
  font-weight: 700;
}

h3 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 36px;
  border-bottom: 1px solid #eee;
}

p {
  margin: 18px 0;
  > code {
    padding: 3px;
  }
}

code {
  background-color: #f5f5f5;
  font-family: "Source Code Pro", Monaco, monospace;
  font-size: 90%;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

ul {
  margin: 18px 0 18px 36px;

  li {
    line-height: 28px;
    margin-bottom: 18px;
  }
}

blockquote {
  border-left: 2px solid $red;
  font-style: italic;
  padding: 0 12px;
}

// Layout
.site {
  margin: 0 auto;
  max-width: $body-width;
  padding: 0 18px;
}

// Home
.main-header {
  align-items: baseline;
  border-top: 4px solid $red;
  display: flex;
  font-family: "Merriweather", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 72px;
  padding: 24px 24px;

  .content {
    margin: 0 auto;
    padding: 0 18px;
    width: $body-width;
  }

  .subline {
    color: $muted;
    font-size: 12px;
    font-weight: 400;
    margin-left: 12px;
  }

  a {
    color: #333;
  }
}

// Posts Page
.post-excerpt {
  margin-bottom: 64px;

  h1 {
    margin-bottom: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $red;
    }
  }

  .read-more {
    color: $muted;
    font-style: italic;
  }
}

// Shard Post
.info {
  text-transform: uppercase;
  font-size: 11px;
  color: $muted;
  letter-spacing: 1px;
  margin-top: 12px
}

.hashtag {
  color: $red;
}

.category {
  color: $red;
}


// Blog Post
.post {
  .date {
    color: $muted;
    font-size: 11px;
    text-transform: uppercase;
  }

  header {
    padding: 0 0 12px 0;
    font-weight: 400;
  }

  img {
    width: 940px;
    margin: 24px 0 24px -160px;
  }

  pre {
    border: 1px solid #f0f0f0;
    font-size: 90%;
    overflow: auto;
    padding: 5px 10px;
  }

  .highlight {
    line-height: 18px;
    margin: 0 -65px 18px -65px;
  }
}

.about {
  border-top: 1px solid #eee;
  margin-top: 72px;
  padding: 18px 0 36px 0;
  display: flex;
  align-items: center;

  .profile-picture {
    width: 56px;
    min-width: 56px;
    margin-right: 18px;

    img {
      border: 1px solid #ccc;
      border-radius: 2px;
    }
  }
}
