---
---

// Globals
$blue: #268BD2;
$dark-gray: #474749;
$red: #d1433c;
$muted: #888;
$white: #fff;
$body-width: 560px;

// Site Styles
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;

}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $dark-gray;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  line-height: 28px;
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font: 24px "Merriweather", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin: 36px 0;
  font-weight: 700;
}

h3 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 36px;
  border-bottom: 1px solid #eee;
}

p {
  margin: 18px 0;
  > code {
    padding: 3px;
  }
}

code {
  background-color: #fcfcfc;
  font-family: "Source Code Pro", Monaco, monospace;
  font-size: 90%;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

ul {
  margin: 18px 0 18px 36px;

  li {
    line-height: 28px;
    margin-bottom: 18px;
  }
}

blockquote {
  border-left: 2px solid $red;
  font-style: italic;
  padding: 0 12px;
}

// Layout
.site {
  margin: 0 auto;
  max-width: $body-width;
  padding: 0 18px;
}

// Home
.main-header {
  border-top: 4px solid $red;
  font-family: "Merriweather", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 72px;
  padding: 48px 24px;

  .content {
    margin: 0 auto;
    padding: 0 18px;
    width: $body-width;
  }

  .home-link {
    color: #333;
  }

  .other-links {
    float: right;

    a {
      font-family: "Fira Sans";
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px; 
    }
  }
}

.main-header-muted {
  width: $body-width;
  font-family: "Merriweather", sans-serif;
  margin: 32px auto 64px auto;
  padding: 0 18px;
  font-size: 12px;

  a {
    color: #888;

    &:hover {
      color: $red;
    }
  }
}

// Posts Page
.post-excerpt {
  margin-bottom: 64px;

  h1 {
    margin-bottom: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $red;
    }
  }

  .read-more {
    color: $muted;
    font-style: italic;
  }
}

// Shard Post
.info {
  text-transform: uppercase;
  font-size: 11px;
  color: $muted;
  letter-spacing: 1px;
  margin-top: 12px
}

.hashtag {
  color: $red;
}

.category {
  color: $red;
}


// Blog Post
.post {
  .date {
    color: $muted;
    font-size: 11px;
    text-transform: uppercase;
  }

  header {
    padding: 0 0 12px 0;
    font-weight: 400;
    margin-bottom: 48px;
  }

  img {
    width: 940px;
    margin: 24px 0 24px -160px;
  }

  pre {
    border: 1px solid #f0f0f0;
    font-size: 90%;
    overflow: auto;
    padding: 5px 10px;
  }

  .highlight {
    line-height: 18px;
    margin: 0 -65px 18px -65px;
  }
}

.about {
  border-top: 1px solid #eee;
  margin: 72px 0 0 0;
  padding: 36px 0;
  display: flex;

  p {
    margin: 0
  }

  .profile-picture {
    width: 56px;
    min-width: 56px;
    margin-right: 18px;

    img {
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}

.about-devlocker {
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 12px;
  padding-top: 36px;
  color: #999;
  margin: 36px 0;

  p {
    margin: 0;
  }
}

.about-me {
  margin-top: 32px;
  font-size: 14px;
}

.screencasts {
  font-family: "Source Code Pro";
  font-size: 14px;
}

@media (max-width: 560px) {
  body,
  .site,
  .main-header-muted,
  .content {
    width: 100%;
    max-width: 100%;
  }

  .main-header {
    padding: 5% 0;

    .other-links {
      float: none;
      a {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }

  a {
    word-wrap: break-word;
  }

  .post {
    img {
      max-width: 100%;
      margin: 0;
    }
  }

  .post .highlight {
    margin: 0;
  }
}
