*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 28px;
  color: #333332;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font: 24px 'PT Sans', sans-serif;
}

p {
  margin: 18px 0;
}

a {
  color: #333332;
}

a:hover {
  color: #3EAD74;
}

a:visited {
  color: #333332;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 18px;
}

ul.posts li {
  line-height: 28px;
}

ul.posts span {
  color: #aaa;
  font-family: "Source Code Pro", Monaco, monospace;
  font-size: 80%;
}

.header {
  border-top: 3px solid #00A14E;
}

.site {
  max-width: 550px;
  margin: 36px auto;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 18px;
  font: 30px 'PT Sans', sans-serif;
}

.site .title a {
  color: #3EAD74;
  text-decoration: none;
}

.site .title a:hover {
  color: #00A14E;
}


.site .footer {
  border-top: 1px solid #eee;
  color: #666;
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;
}

.contact a {
  color: #8085C1;
}

.post .date {
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.post pre {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  font-size: 70%;
  overflow: auto;
  padding: 5px 10px;
}

p > code {
  background-color: #fafafa;
  padding: 3px;
  font-family: "Source Code Pro", monaco, monospace;
  font-size: 80%;
}
