<footer class="about">
  <div class="profile-picture">
    <img src="/images/pat.jpeg" width="56px"/>
  </div>
  <div>
  <p>
    <strong>About Patrick Koperwas</strong><br />
    Web developer based in Seattle. Working mostly with Rails, Javascript and
    Go. Loves donuts, animated gifs, Vim and wearing slippers while working.
  </p>
  <p>
    <a href="https://github.com/PatKoperwas" target="_blank">Github</a>
    <a href="https://twitter.com/PatKoperwas" target="_blank">Twitter</a>
  </p>
  </div>
</footer>
