{% assign author = site.data.authors[page.author] %}
{% assign series = site.data.series[page.series] %}

<footer class="series-footer">
  <div class="about">
    <div class="profile-picture">
      <img src={{ author.image_path }} width="56px" />
    </div>
    <div>
    <p>
      <strong>{{ author.display_name }}</strong><br />
      {{ author.description }}
    </p>
    <p>
      <a href={{ author.github }} target="_blank">Github</a>
      <a href={{ author.twitter }} target="_blank">Twitter</a>
    </p>
    </div>
  </div>

  <div class="series-info">
    <div class="profile-picture">
      <img src="{{ series.image_path }}" width="56px" />
    </div>
    <div>
      <p><strong>Series: {{ series.name }}</strong></p>
      <p>{{ series.description }}</p>
    </div>
  </div>

</footer>


<footer class="about-devlocker">
  <p>Meet the <a href="/about">writers</a> of MildlyInternet
  <p>
    Content copyright ©2014-2016 DevLocker.
  </p>
</footer>
