$header-width: 960px;

.main-header {
  background-color: $lightest-gray;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid $red;
  margin-bottom: $spacing-bottom-margin;
  padding: $spacing-unit;

  @media (max-width: $breakpoint-mobile) {
    padding: 5%;
  }

  .content {
    margin: 0 auto;
    width: $header-width;
  }

  .home-link {
    @include unstyled-link;

    font-family: $font-family-headings;
    font-weight: $font-weight-bold;
  }

  .other-links {
    float: right;

    @media (max-width: $breakpoint-mobile) {
      float: none;
    }

    a {
      @include unstyled-link;
      margin-right: 12px;
    }
  }
}
