// Site Styles
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $dark-gray;
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
}

// Layout
.site {
  margin: 0 auto;
  max-width: $site-width;
  padding: 0 $side-gutter;
}

@media (max-width: 560px) {
  body,
  .site,
  .main-header-muted,
  .header-series,
  .series,
  .content {
    width: 100%;
    max-width: 100%;
  }

  a {
    word-wrap: break-word;
  }
}
