.post {
  .date {
    color: $muted;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  header {
    padding: 0 0 $spacing-unit 0;
    font-weight: $font-weight-normal;
    margin-bottom: $spacing-bottom-margin;
  }

  img {
    margin: 24px ($site-width - 940) / 2;
    width: 940px;

    @media (max-width: 940px) {
      max-width: 100%;
      margin: 0;
    }

    @media (max-width: $breakpoint-mobile) {
      max-width: 100%;
      margin: 0;
    }
  }

  pre {
    font-size: 90%;
    overflow: auto;
    padding: $spacing-unit;
  }

  .highlight {
    line-height: $line-height-default * 0.65;
    margin: $spacing-unit * 2 0;

    @media (max-width: $breakpoint-small) {
      margin: 0;
    }

    @media (max-width: $breakpoint-mobile) {
      margin: 0;
    }
  }
}

