.post-excerpt {
  margin-bottom: 72px;

  h1 {
    margin-bottom: 8px;
  }

  p {
    margin-top: 0;
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $red;
    }
  }

  .read-more {
    color: $muted;
    font-style: italic;
  }
}
