.series-thumbnails {
  border-bottom: 1px solid #eee;
  display: flex;
  //display: none;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 36px 0;
}

.series-thumbnail {
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  margin: 18px 0; 
  padding: 18px;
  text-align: center;
  width: 48%;

  &:hover {
    border-color: #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }

  .description {
    font-size: 11px;
    line-height: 18px;
  }

  img {
    max-height: 56px;
    max-width: 56px;
  }
}
