---
---

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

$sand: #918d7d;
$blue: #268BD2;

body {
  background-color: white;
  font-family: "Droid Serif", Georgia, serif;
  font-size: 16px;
  line-height: 28px;
  color: #333332;
}

// Type
h2 {
  font-size: 22px;
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  margin: 0 0 24px 0;
}

h3 {
  color: $sand;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 24px 0 12px 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  padding: 0 24px;
  margin: 24px 0 0 0;
}

ul, ol {
  margin: 12px 24px;
  padding: 0 24px;
}

a {
  color: #268BD2;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

blockquote {
  padding: 0 24px;
  margin: 24px;
  border-left: 2px solid lighten($sand, 35%);
  font-style: italic;
}

.content {
  margin: 80px auto;
  width: 960px;
}

.content-small {
  margin: 80px auto;
  width: 650px;
}

.nav-header {
  background-color: white;
  border-bottom: 1px solid lighten($sand, 35%);
  color: $sand;
  font-family: Verdana;
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;

  nav {
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.cta-button {
  margin: 48px 0;
  text-align: center;

  a {
    background-color: $blue;
    border-radius: 2px;
    border: 1px solid darken($blue, 10%);
    color: white;
    font-family: Verdana;
    padding: 24px 36px;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: darken($blue, 5%);
      transition: background-color 0.25s ease;
    }
  }
}


.hero {
  border-bottom: 1px solid lighten($sand, 35%);
  text-align: center;

  h1 {
    line-height: 42px;
  }
}

.large-image {
  text-align: center;
  width: 1170px;
  margin: 80px auto 0 auto;

  img {
    border: 1px solid lighten($sand, 35%);
    border-radius: 2px;
    max-height: 700px;
  }
}

// Utility
.centered {
  text-align: center;
}
